/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/blog/[id]/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

.page_header__YJu_V {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  .page_blog_list__bX0Xv{
    margin-bottom: 5rem;
  }

 .page_header__YJu_V img {
    margin-left: auto;
    width: 25rem;
    height: auto;
 }
  
 .page_headerTitle__Myh6_ {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #ddd6cb;
    margin: 0;
}

.page_paragraph__9ilCD{
    margin-top: 4rem;
    line-height: 2.5;
}

.page_textarea__A2b87 {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
  }

  .page_button__vBPzQ {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff;
    color: #007bff;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .page_button__vBPzQ:hover {
  background-color: #007bff;
  color: white;
}
  
.page_p__gUlvJ{
  text-align: center;
  margin-bottom: 1rem;
}

.page_a__pgnCd{
  text-decoration: none;
  color: #A9A9A9
  
}
