/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/blog/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/

  .page_highlight__6amCV {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .page_p__pJ2It{
    text-align: center;
  }
  
  .page_a__11RNQ{
    text-decoration: none;
    color: #A9A9A9
    
  }
