
.header {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  
 .header img {
    margin-left: auto;
    width: 25rem;
    height: auto;
 }
  
 .headerTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #ddd6cb;
    margin: 0;
}

.paragraph{
    margin-top: 4rem;
    line-height: 2.5;
}

.textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
  }

  .button {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff;
    color: #007bff;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .button:hover {
  background-color: #007bff;
  color: white;
}
  
 