/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/news/[id]/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

.page_header__qrHaO {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  
 .page_header__qrHaO img {
    margin-left: auto;
    width: 25rem;
    height: auto;
 }
  
 .page_headerTitle__L5UBG {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #ddd6cb;
    margin: 0;
}

.page_paragraph__qgWkU{
    margin-top: 4rem;
    line-height: 2.5;
}
